<calendar-header (navigateDate)="onDateChange($event)" (createAppointment)="openAppointmentModal()"></calendar-header>

<div class="calendar-grid">
    <div class="hour-slot" *ngFor="let hour of hours" (click)="onGridClick(hour)">
        <span class="hour-label">{{ hour | number: '2.0' }}:00</span>
    </div>

    <div *ngFor="let appointment of appointments">
        <div class="appointment-card"
            [style.top.px]="calculateTop(appointment.startTime)"
            [style.height.px]="calculateHeight(appointment.startTime, appointment.endTime)"
            (click)="openAppointmentModal(appointment)">
            <div class="appointment-content">
                <strong>{{ appointment.title }}</strong>
                {{ appointment.startTime | date: 'HH:mm' }} - {{ appointment.endTime | date: 'HH:mm' }}
            </div>
            <button class="delete-button" (click)="deleteAppointment(appointment, $event)">
                ✖
            </button>
        </div>

    </div>
</div>